body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}


a {
    font-size: inherit; /* 링크의 텍스트 크기를 부모 요소로 상속 */
    color: inherit; /* 링크의 텍스트 색상을 부모 요소로 상속 */
    outline: none;
    cursor: default; /*커서 기본*/
    text-decoration: none; /* 밑줄 제거 */
    /* color: black; 링크 색상 지정 */
}

span {
    cursor: default;
}






.artwork-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
}

.artwork-info h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.input-group .input {
    flex: 1;
    margin-right: 35px;
}

.fileUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1px;
    background-color: #333D41;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: 12px;
    width: 200px;
    height: 60px;
    margin: 5px;
}


.image-upload {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 3px dashed #ccc;
    padding: 60px;
    box-sizing: border-box;
    margin-right: auto;
}

.input-group .input {
    flex: 2px;
    margin-right: 10px;
    margin-left: -10px;
}

.btn.upload {
    display: none;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.input.input-large {
    height: 120px;
    border: 1px solid #000000;
}

.btn {
    width: 200px;
    height: 63px;
    background: #333D41;
    border-radius: 6px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    gap: 5px;
}