<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>head</title>
    <link rel="stylesheet" href="head.css">
</head>
<body>
<div class="head-left">
    <div class="nav-container">
        <button class="login-btn">LOGIN</button>
        <span>ㅣ</span>
        <button class="logout-btn">LOGOUT</button>
        <form id="">
            <label for="language">
                <select id="language" name="language">
                    <option value="kor">한국어</option>
                    <option value="cna">중국어</option>
                    <option value="en">영어</option>
                </select>
            </label>
        </form>
    </div>

    <div class="search-container">
        <div class="search-box">
            <label>
                <input type="text" placeholder="Search">
            </label>
        </div>
    </div>

    <div class="buttons-container">
        <button>작품 올리기</button>
        <button>전시회 올리기</button>
    </div>
</div>
</body>
</html>