.Container-Content {
  top: 21.48%;
  width: 100%;
  height: 78.52%;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.DUContainer {
  display: flex;
  justify-content: flex-end;
  margin-left: 90%;
  width: 100%;
}
.DUContainer button {
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin-left: 10.5%;
}
.Container-Exhibition {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 929px;
  height: 710.0390625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  justify-content: flex-start;
}
.Conatainer-Uploader {
  top: 63px;
  left: 13px;
  color: rgba(102, 102, 100, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ExhibitionName {
  top: 0px;
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.ImgPoster {
  top: 121px;
  left: 0px;
  width: 289px;
  height: 408px;
  position: absolute;
}

.ExhibitionDescription {
  top: 121px;
  left: 355px;
  width: 564px;
  position: relative;
  margin-bottom: 30px;
}
#content {
  color: rgba(102, 102, 100, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.Container-ExhibitionInfo {
  position: absolute; /* 추가 */
  top: 100%; /* ExhibitionDescription의 위치와 동일하게 조정 */
  left: 342px;
  width: 587px;
  height: 386px;
  display: flex;
  flex-direction: column; /* 아래로 쌓이도록 column으로 설정 */
  align-items: flex-start;
  margin-top: 20%; /* 원하는 간격으로 조정 */
}
.TitleExhibitionInfo {
  top: 0px;
  left: 253px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 0px;
  text-decoration: none;
}
.ImgExhibitionInfoUnderBar {
  top: 34px;
  left: 260px;
  width: 59px;
  height: 3px;
  position: absolute;
}
.ExhibitionInfoBox {
  top: 61px;
  left: 0px;
  width: 587px;
  height: 325px;
  position: absolute;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
}
.ExhibitionInfoBoxHeader {
  top: 60px;
  left: 0px;
  width: 587px;
  height: 39px;
  position: absolute;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
}
.ImgShare {
  top: 69.9609375px;
  right: 46px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.ImgLike {
  top: 70.9609375px;
  right: 9px;
  width: 20px;
  height: 18px;
  position: absolute;
}
.TitleAuthor {
  top: 112px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TextAuthor {
  top: 112px;
  left: 144px;
  color: rgba(10, 36, 167, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TitlePlace {
  top: 155px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TextPlace {
  top: 155px;
  left: 144px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TitlePeriod {
  left: 33px;
  color: rgba(0, 0, 0, 1);
  bottom: 162.5px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TextPeriod {
  left: 144px;
  color: rgba(0, 0, 0, 1);
  bottom: 163.5px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TitleTime {
  left: 33px;
  color: rgba(0, 0, 0, 1);
  bottom: 119.5px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TextTime {
  left: 144px;
  color: rgba(0, 0, 0, 1);
  width: 269px;
  bottom: 119.5px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TitleFee {
  left: 26px;
  color: rgba(0, 0, 0, 1);
  bottom: 77px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TextFee {
  left: 144px;
  color: rgba(0, 0, 0, 1);
  width: 126px;
  bottom: 77px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TitleInquiry {
  left: 33px;
  color: rgba(0, 0, 0, 1);
  bottom: 33.5px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TextInquiry {
  left: 144px;
  color: rgba(0, 0, 0, 1);
  width: 194px;
  bottom: 34.5px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TextNotice {
  left: 21px;
  color: rgba(117, 117, 120, 1);
  bottom: 3px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
