* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
html {
  line-height: 1.15;
  scroll-behavior: smooth;
}
body {
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(#595959);
  background-color: var(#ffffff);
  font-family: "Inter", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
a {
  font-size: inherit; /* 링크의 텍스트 크기를 부모 요소로 상속 */
  color: inherit; /* 링크의 텍스트 색상을 부모 요소로 상속 */
  outline: none;
  cursor: default; /*커서 기본*/
  text-decoration: none; /* 밑줄 제거 */
  /* color: black; 링크 색상 지정 */
}
span {
  cursor: default;
}

.Container {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: auto;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.Container-MenuBar {
  width: 100%;
  height: 21.48%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
}
.Container-LeftMenu {
  top: 0px;
  width: 394.59375px;
  height: 184.3125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-left: 6.6%;
  margin-right: 3%;
}
.BrandName {
  top: 68px;
  color: rgba(51, 61, 65, 0.800000011920929);
  right: 0px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: center;
  font-family: NanumMyeongjo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ImgLogo {
  top: 0px;
  left: 0px;
  width: 221px;
  height: 137px;
  position: absolute;
}
.HomeMenu {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  margin-left: 0%;
  font-stretch: normal;
  text-decoration: none;
}
.ArtworkMenu {
  left: 45px;
  color: rgba(0, 0, 0, 1);
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  margin-left: 0%;
  font-stretch: normal;
  text-decoration: none;
}
.ExhibitionMenu {
  left: 110px;
  color: rgba(207, 94, 83, 1);
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  margin-left: 0%;
  font-stretch: normal;
  text-decoration: none;
}
.IntroduceMenu {
  left: 190px;
  color: rgba(0, 0, 0, 1);
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ArtistMenu {
  color: rgba(0, 0, 0, 1);
  right: 73.390625px;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.Container-RightMenu {
  top: 45.9765625px;
  right: 0px;
  width: 280px;
  height: 130.96875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-left: 3%;
  margin-right: 6.6%;
}
.GroupLoginLogout {
  top: 0px;
  left: 74px;
  width: 123px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.TextLogin {
  color: rgba(0, 0, 0, 1);
  left: 10px;
  width: 46px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TextLogin:hover {
  color: rgba(207, 94, 83, 1);
}
.TextDelimeter {
  left: 61px;
  color: rgba(0, 0, 0, 1);
  width: 14px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TextLogout {
  color: rgba(0, 0, 0, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.TextLogout:hover {
  color: rgba(207, 94, 83, 1);
}
.TextMyPage {
  left: 79px;
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.GroupLanguageSelection {
  top: 0px;
  right: 2.6328125px;
  width: 62px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.TextMyPage:hover {
  color: rgba(207, 94, 83, 1);
}

.Container-SearchBar {
  top: 32px;
  left: 0px;
  width: 280px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(217, 217, 217, 0.28999999165534973);
  border-width: 1px;
  border-radius: 30px;
  background-color: rgba(217, 217, 217, 0.28999999165534973);
}
.GroupSearchInputAndButton {
  top: 10px;
  left: 8.000003814697266px;
  width: 246.79998779296875px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.TextSearchInput {
  bottom: 9%;
  background-color: rgba(0, 0, 0, 0); /*투명*/
  width: 100%;
  height: 100%;
  border: none; /*테두리 없애기*/
  outline: none; /*파란색 테두리 없애기*/
  color: rgba(26, 26, 26, 0.699999988079071);
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.BtnSearch {
  top: 0px;
  left: 225.33331298828125px;
  width: 21px;
  height: 23px;
  position: absolute;
}
.BtnUploadArtwork {
  left: 5px;
  width: 130px;
  bottom: 0px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(51, 61, 65, 1);
  border-radius: 8px;
  background-color: rgba(51, 61, 65, 1);
}
.BtnUploadArtwork:hover {
  background-color: rgba(207, 94, 83, 1);
}
.BtnTextUploadArtwork {
  top: 11px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.BtnUploadExhibition {
  right: 2.6328125px;
  width: 130px;
  bottom: 0px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(51, 61, 65, 1);
  border-radius: 8px;
  background-color: rgba(51, 61, 65, 1);
}
.BtnUploadExhibition:hover {
  background-color: rgba(207, 94, 83, 1);
}
.BtnTextUploadExhibition {
  top: 11px;
  left: 4px;
  color: rgba(255, 255, 255, 1);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.Container-Content {
  top: 21.48%;
  width: 100%;
  height: 78.52%;
  display: flex;
  position: absolute;
  align-items: flex-start;
}

.container {
  left: 26%;
  width: 1000px;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

.lines {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.combined-line {
  width: 100%;
  max-width: 1080px;
  height: 0;
  border: 1px solid #c3c3c3;
}

.rectangle-1943 {
  width: 8px;
  height: 59px;
  background: #000000;
  margin-right: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 150px;
}

.field {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  align-items: center;
}

.fields {
  flex: 1;
}

label {
  margin-top: 8px;
  text-align: center;
  flex: 0 0 120px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: #000000;
  white-space: nowrap;
}

input[type="text"] {
  font-size: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  background: #ffffff;
  border: 1px solid #000000;
  margin-top: 5px;
}

#introduceField {
  position: relative;
}

#introduceTitle {
  top: 0;
  left: 0;
  transform: translate(0px, -320%);
}

#introduce {
  font-family: Inter;
  font-size: 15px;
  width: 100%;
  height: 200px;
  border: 1px solid #000000;
  transform: translate(0px, 3%);
  resize: none;
}

.image-upload {
  flex: 0.6;
  height: 300px;
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 60px;
}

.image-upload label {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  color: #000000;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  gap: 8px;
  width: 308px;
  height: 63px;
  background: #333d41;
  border-radius: 6px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-top: 10%;
}
.button:hover {
  background: rgba(207, 94, 83, 1);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  form {
    padding: 0;
  }

  .image-upload {
    flex: 1;
    margin-right: 0;
  }

  .buttons {
    flex-direction: column;
  }

  .button {
    width: 100%;
    margin-bottom: 10px;
  }

  .button:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  label {
    font-size: 18px;
  }

  input[type="text"] {
    height: 35px;
  }

  .button {
    height: 50px;
    font-size: 18px;
  }

  .image-upload label {
    font-size: 30px;
  }
}
