* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px = 1rem */
}

body {
    font-size: 1.6rem;
}

.Container-MenuBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .Container-MenuBar {
        flex-direction: row;
        justify-content: space-between;
    }
}

.Container-LeftMenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.BrandName {
    margin-left: 2vw;
    font-size: 2.5vw;
}

.Container-RightMenu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.my-artworks .artwork-details,
.liked-artworks,
.my-comments {
    display: flex;
    gap: 1vw;
    overflow-x: auto;
}

.card {
    background: #ffffff;
    padding: 1vw;
    box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
    border-radius: 1.2vw;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15vw;
}

.card:hover {
    transform: scale(1.05);
}

.img {
    width: 80%;
    max-width: 6vw;
    object-fit: cover;
    border-radius: 1vw;
    cursor: pointer;
}

.textContainer {
    margin-top: 1vw;
}

.titleText,
.text {
    font-size: 1.4vw;
    font-weight: 200;
    color: #555;
    margin-top: 0.5vw;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16vw;
}

.user-info h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
}

.user-info h1 img:first-child {
    width: 6.5vw;
    max-width: 100%;
    height: auto;
}

.edit-icon {
    width: 1.6vw;
    max-width: 100%;
    height: auto;
}

.buttons {
    display: flex;
    gap: 0.5vw;
    align-items: center;
    justify-content: center;
}

.edit,
.delete {
    width: 6.9vw;
    height: 4vw;
    background-color: #333d41;
    color: #ffffff;
    border: none;
    font-size: 1.6vw;
    cursor: pointer;
}

.GroupLoginLogout {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.TextDelimiter {
    margin: 0 2.3vw;
}
